import java.util.Scanner;

class Main {
 
  public static void main(String[] args) {

    int n1, n2, result, opcao;
    Scanner leia = new Scanner(System.in);

    System.out.println("Qual o número que voce deseja:");
    n1 = leia.nextInt();

    System.out.println("Qual o segundo número que voce deseja:");
    n2 = leia.nextInt();

    System.out.println("1 - SOMAR");
    System.out.println("2 - DIMINUIR");
    System.out.println("3 - MUTIPLICAR");
    System.out.println("4 - DIVIDE PRIMEIRO PELO SEGUNDO");

    opcao = leia.nextInt();

    switch (opcao) {
      case 1:
        result = n1 + n2;
        break;
      case 2:
        result = n1 - n2;
        break;
      case 3:
        result = n1 * n2;
        break;
      case 4:
        result = n1 / n2;
        break;
      default:
        System.out.println("Voce fez algo errado");
        return;
    }

    System.out.println("Resultado da operação: " + result);   
  }
}
